[MASTER]
ignore=migrations

[MESSAGES CONTROL]

# Only show warnings with the listed confidence levels. Leave empty to show
# all. Valid levels: HIGH, INFERENCE, INFERENCE_FAILURE, UNDEFINED
# confidence=

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once). See also the "--disable" option for examples.
disable=
    import-error,
    inconsistent-return-statements,
    too-few-public-methods,
    broad-exception-caught,
    missing-class-docstring,
    missing-module-docstring,
    missing-function-docstring